{% for listnode in nodes %}
	{% if listnode.label %}
		<h1>{{listnode.title}}</h1>
		{% if listnode.targetentity is defined and listnode.targetentity  %}
			<p>
			{% set controller = listnode.targetentity ~ ":renderPartial" %}
			{% set controllervars = listnode.targetparams|unserialize %}
			{% set displayoptions = {'showtitle':false} %}
				{% include "ACInst3Bundle:Node:displayPartial.html.twig" %}
			</p>
		{% endif %}
		<p>
			<a href="{{ path('node_show', { 'mname': listnode.machinename }) }}">More . . .</a>
		</p>
	{% endif %}
{% endfor %}